pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: '$(dockerId)/openrct2-twitch-integration:$(build.sourceVersion)'

steps:
- script: echo "$DOCKER_PASS" | docker login -u "$(dockerId)" --password-stdin
  env:
    DOCKER_PASS: $(dockerPwd)
- script: docker build --pull -f Dockerfile -t $(imageName) .
  displayName: 'docker build'
- script: docker push $(imageName)
