trigger:
- master

pool:
  vmImage: 'Ubuntu-16.04'

variables:
  imageName: '$(dockerId)/openrct2-twitch-integration:$(build.sourceVersion)'

steps:
- script: docker login -u $(dockerId) -p $(dockerPwd)
  displayName: 'login'
- script: docker build --pull -f Dockerfile -t $(imageName) .
  displayName: 'docker build'
- script: docker push
  displayName: 'docker push'
